$def with (entries)
<ul>
	$for article in entries:
	<li id="$article.id">
		<h4><a href="/edit?p=$article.id">$article.title</a>
			<span class="btn" id="delete" onclick="dArticle($article.id)">删除</span></h4>
		<div>$article.created</div>
	</li>
</ul>

<div class="add" id="add" onclick="add()">添加博客</div>

<style type="text/css">
	.add{
		width: 100px;
		height: 36px;
		border-radius: 5px;
		cursor: pointer;
		background: #22a2c4;
		color: white;
		text-align: center;
		line-height: 36px;
	}
	.add:hover{
		opacity: 0.5;
	}
	span.btn>a{
		margin-left: 15px;
	}
	span#delete {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: white;
    background: violet;
    width: 48px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
	}

	span#delete:hover{
	    opacity: 0.5;
	}

</style>
<script type="text/javascript">
	function add(){
		window.location.href = "/edit";
	}

	function dArticle(dataid){
		var url = "/delete";
		var postStr = "p=" + dataid;
		var ajax = null;

		if (window.XMLHttpRequest){
			ajax = new XMLHttpRequest();
		} else if (window.ActiveXObject()){
			ajax = new ActiveXObject("Microsoft.XMLHTTP");
		} else {
			return ;
		}

		ajax.open("POST", url, true);
		ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		ajax.send(postStr);

		ajax.onreadystatechange = function(){
			if (ajax.readyState == 4 && ajax.status == 200){
				location.reload(); // 刷新当前页面
			}
		}
	}
</script>
